/* *{
    font-family: 'Poppins', sans-serif;
}




#main-head{
    text-align: center;
    background-color: hsl(54, 100%, 50%);
}
#para{
    font-family: 'Poppins', sans-serif;
}



div>a{
    text-decoration: none;
    color: #000000f1;
}
div a{
    text-decoration: none;
    color: #000000f1;
} */


/* h1{
    font-size: 32px;
}

#parent-div{
    font-size: 1rem;
}
#first-div{
    border: 10px solid black;
    width: 50%;
}
#second-div{
    border: 2px dashed brown;
    width: 50%;
    font-size: 2em;
} */